.home {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 50px;
}
.header__imag {
    width: 487px;
    margin: 24px 50px;
    margin-left: 357px;
    cursor: pointer;

}
.home__heading {
    font-family: 'Source Sans Pro', cursive;
    font-size: 44px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-weight: bold;
    margin-bottom: 40px;
}

.home__heading_text {
    font-family: 'Source Sans Pro', cursive;
    font-size: 60px;
    color: rgb(0, 0, 0);
    text-align-last: center;
    font-weight: bold;
    margin-bottom: 40px;
}

.home__characters__search {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}
.home__characters__search input{
    width: 300px
}

.home__characters__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.home__controls {
    position: fixed;
    bottom: 20px;
    right: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 15px 20px;
    background-color: rgb(13, 178, 228);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    color: rgb(8, 8, 8);
}

